.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out; }
  .icon-search {
    width: 17px;
    height: 17px;
    position: absolute;
    margin: 10px 10px 12px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.145' height='17.149' viewBox='0 0 17.145 17.149'%3E%3Cpath d='M21.444,20.4l-4.768-4.813a6.8,6.8,0,1,0-1.031,1.045l4.737,4.782a.734.734,0,0,0,1.036.027A.739.739,0,0,0,21.444,20.4Zm-10.108-3.71a5.366,5.366,0,1,1,3.8-1.572A5.333,5.333,0,0,1,11.336,16.691Z' transform='translate(-4.5 -4.493)' fill='%23989696'/%3E%3C/svg%3E");
    z-index: 1; }
  .icon-cart {
    width: 16px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.5' height='28.314'%3E%3Cpath data-name='Path 469' d='M19.076 7.13h-2.622c-.682-4.075-3.417-7.132-6.679-7.132s-6 3.057-6.679 7.132H.424A.425.425 0 000 7.555v20.757h19.498V7.557a.425.425 0 00-.422-.427zm-14.913 0c.777-3.263 3-5.625 5.612-5.625s4.835 2.362 5.612 5.625z' fill='%231a1818'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat; }
    .theme-dark .icon-cart {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.5' height='28.314'%3E%3Cpath data-name='Path 469' d='M19.076 7.13h-2.622c-.682-4.075-3.417-7.132-6.679-7.132s-6 3.057-6.679 7.132H.424A.425.425 0 000 7.555v20.757h19.498V7.557a.425.425 0 00-.422-.427zm-14.913 0c.777-3.263 3-5.625 5.612-5.625s4.835 2.362 5.612 5.625z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-fb {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 28'%3E%3Cpath d='M15 .2v4.1h-2.5c-1.9 0-2.3.9-2.3 2.3v3h4.6l-.6 4.6h-4V26H5.5V14.1h-4V9.5h4V6.1c0-4 2.4-6.1 6-6.1 1.6 0 3.1.1 3.5.2z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-ig {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 28'%3E%3Cpath d='M16 14c0-2.2-1.8-4-4-4s-4 1.8-4 4 1.8 4 4 4 4-1.8 4-4zm2.2 0c0 3.4-2.8 6.2-6.2 6.2S5.8 17.4 5.8 14 8.6 7.8 12 7.8s6.2 2.8 6.2 6.2zm1.6-6.4c0 .8-.6 1.4-1.4 1.4S17 8.4 17 7.6s.6-1.4 1.4-1.4 1.4.6 1.4 1.4zM12 4.2c-1.8 0-5.5-.1-7.1.5-.5.2-.9.4-1.4.8s-.6.9-.9 1.4c-.6 1.6-.4 5.3-.4 7.1s-.2 5.5.4 7.1c.2.5.5 1 .9 1.4s.8.7 1.4.9c1.6.6 5.3.5 7.1.5s5.5.1 7.1-.5c.5-.2 1-.5 1.4-.9s.7-.8.9-1.4c.6-1.6.5-5.3.5-7.1s.1-5.5-.5-7.1c-.2-.5-.5-1-.9-1.4s-.8-.7-1.4-.9c-1.6-.6-5.3-.4-7.1-.4zM24 14c0 1.7 0 3.3-.1 5-.1 1.9-.5 3.6-1.9 5s-3.1 1.8-5 1.9c-1.7.1-3.3.1-5 .1s-3.3 0-5-.1c-1.9-.1-3.6-.5-5-1.9S.2 20.9.1 19C0 17.3 0 15.7 0 14s0-3.3.1-5C.2 7.1.6 5.4 2 4s3.1-1.8 5-1.9C8.7 2 10.3 2 12 2s3.3 0 5 .1c1.9.1 3.6.5 5 1.9s1.8 3.1 1.9 5c.1 1.7.1 3.3.1 5z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-tw {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 28'%3E%3Cpath d='M25.3 6.4c-.7 1-1.5 1.9-2.5 2.6v.7c0 6.7-5.1 14.4-14.4 14.4-2.9 0-5.5-.8-7.8-2.3.4 0 .8.1 1.2.1 2.4 0 4.5-.8 6.3-2.2-2.2 0-4.1-1.5-4.7-3.5.3 0 .6.1 1 .1.5 0 .9-.1 1.3-.2-2.3-.5-4-2.5-4-5V11c.7.4 1.5.6 2.3.6-1.4-.9-2.3-2.5-2.3-4.2 0-.9.3-1.8.7-2.5C4.9 8 8.6 10 12.8 10.2c-.1-.4-.1-.8-.1-1.2 0-2.8 2.3-5 5-5 1.5 0 2.8.6 3.7 1.6 1.1-.2 2.2-.6 3.2-1.2-.4 1.2-1.2 2.2-2.2 2.8 1-.2 2-.4 2.9-.8z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-wa {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M27.3 4.7c-3-3-7-4.7-11.2-4.7C7.3 0 .2 7.1.2 15.9c0 2.8.7 5.5 2.1 7.9L.1 32l8.4-2.2c2.3 1.3 4.9 1.9 7.6 1.9 8.7 0 15.9-7.1 15.9-15.9-.1-4.2-1.7-8.1-4.7-11.1zM16.1 29c-2.4 0-4.7-.6-6.7-1.8l-.5-.3-5 1.3 1.3-4.9-.3-.5c-1.3-2.1-2-4.5-2-7 0-7.3 5.9-13.2 13.2-13.2 3.5 0 6.8 1.4 9.3 3.9 2.5 2.5 3.9 5.8 3.9 9.3-.1 7.3-6 13.2-13.2 13.2zm7.2-9.8c-.4-.2-2.3-1.2-2.7-1.3s-.6-.2-.9.2c-.3.4-1 1.3-1.3 1.6-.2.3-.5.3-.9.1s-1.7-.6-3.2-2c-1.2-1-2-2.4-2.2-2.7s0-.6.2-.8c.2-.2.4-.5.6-.7s.3-.4.4-.7c.1-.3.1-.5 0-.7s-.9-2.2-1.2-2.9c-.3-.8-.6-.7-.9-.7h-.8c-.3 0-.6 0-1 .4S8 10.4 8 12.3s1.4 3.8 1.6 4.1c.2.3 2.8 4.3 6.8 6 .9.4 1.7.6 2.3.8 1 .3 1.8.3 2.5.2.8-.1 2.3-1 2.7-1.9s.3-1.7.2-1.9c-.1-.1-.4-.2-.8-.4z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-user {
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.999' height='27'%3E%3Cpath data-name='Icon ionic-ios-person' d='M26.985 26.318c-.506-2.236-3.4-3.326-4.395-3.677a32.764 32.764 0 00-3.663-.7 3.722 3.722 0 01-1.695-.78c-.281-.337-.112-3.466-.112-3.466a10.429 10.429 0 00.8-1.526 19.68 19.68 0 00.592-2.669s.577 0 .78-1.013a9.962 9.962 0 00.52-2.355c-.042-.809-.485-.788-.485-.788a12.328 12.328 0 00.478-3.607c.063-2.89-2.2-5.738-6.3-5.738-4.155 0-6.37 2.848-6.307 5.738a12.859 12.859 0 00.471 3.607s-.443-.021-.485.788a9.962 9.962 0 00.52 2.355c.2 1.013.78 1.013.78 1.013a19.68 19.68 0 00.591 2.665 10.429 10.429 0 00.8 1.526s.169 3.129-.113 3.466a3.722 3.722 0 01-1.695.78 32.764 32.764 0 00-3.663.7c-1 .352-3.888 1.441-4.395 3.677a.562.562 0 00.555.682h25.873a.561.561 0 00.548-.678z' fill='%231a1818'/%3E%3C/svg%3E"); }
    .theme-dark .icon-user {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.999' height='27'%3E%3Cpath data-name='Icon ionic-ios-person' d='M26.985 26.318c-.506-2.236-3.4-3.326-4.395-3.677a32.764 32.764 0 00-3.663-.7 3.722 3.722 0 01-1.695-.78c-.281-.337-.112-3.466-.112-3.466a10.429 10.429 0 00.8-1.526 19.68 19.68 0 00.592-2.669s.577 0 .78-1.013a9.962 9.962 0 00.52-2.355c-.042-.809-.485-.788-.485-.788a12.328 12.328 0 00.478-3.607c.063-2.89-2.2-5.738-6.3-5.738-4.155 0-6.37 2.848-6.307 5.738a12.859 12.859 0 00.471 3.607s-.443-.021-.485.788a9.962 9.962 0 00.52 2.355c.2 1.013.78 1.013.78 1.013a19.68 19.68 0 00.591 2.665 10.429 10.429 0 00.8 1.526s.169 3.129-.113 3.466a3.722 3.722 0 01-1.695.78 32.764 32.764 0 00-3.663.7c-1 .352-3.888 1.441-4.395 3.677a.562.562 0 00.555.682h25.873a.561.561 0 00.548-.678z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-bar {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    color: var(--cl-main);
    text-align: center;
    padding: 6px 0 6px 20px; }
    @media (max-width: 320px) {
      .icon-bar {
        padding: 0 0 0 16px; } }
    .icon-bar i {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 2px;
      color: var(--cl-main);
      background: var(--cl-main);
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out; }
      .icon-bar i::before, .icon-bar i::after {
        content: '';
        width: 80%;
        height: 2px;
        background: var(--cl-main);
        position: absolute;
        right: 0;
        -webkit-transition: all .2s ease-out;
        transition: all .2s ease-out; }
      .icon-bar i::before {
        top: -9px; }
      .icon-bar i::after {
        bottom: -9px; }
    .icon-bar.active i {
      background: transparent; }
      .icon-bar.active i::before {
        width: 100%;
        top: 0;
        background: var(--cl-main);
        -webkit-transform: rotateZ(-45deg);
        -moz-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg); }
      .icon-bar.active i::after {
        width: 100%;
        bottom: 0;
        background: var(--cl-main);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg); }
  .icon-eye {
    width: 30px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.502' height='20.25'%3E%3Cg data-name='Icon ionic-ios-eye' fill='%23c2bebe'%3E%3Cpath data-name='Path 611' d='M15.734 0C10.081 0 5.623 3.558.293 9.373a1.112 1.112 0 00-.007 1.5c4.563 5.041 8.585 9.38 15.448 9.38 6.778 0 11.862-5.463 15.476-9.422a1.1 1.1 0 00.035-1.455C27.561 4.908 22.463 0 15.734 0zm.314 16.446a6.328 6.328 0 116.021-6.021 6.331 6.331 0 01-6.021 6.021z'/%3E%3Cpath data-name='Path 612' d='M15.748 6.825a3.3 3.3 0 01.218-1.188c-.07 0-.141-.007-.218-.007a4.5 4.5 0 104.5 4.495c0-.091-.007-.183-.007-.274a3.118 3.118 0 01-1.28.274 3.264 3.264 0 01-3.213-3.3z'/%3E%3C/g%3E%3C/svg%3E"); }
  .icon-emagz {
    width: 15px;
    height: 21px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.865' height='20.812'%3E%3Cpath data-name='Icon ionic-md-tablet-portrait' d='M13.75 0H1.115A1.112 1.112 0 000 1.115v18.582a1.112 1.112 0 001.115 1.115H13.75a1.112 1.112 0 001.115-1.115V1.115A1.112 1.112 0 0013.75 0zm-.372 17.838H1.487V2.23h11.892zm-5.946 2.137a.653.653 0 11.655-.655.666.666 0 01-.654.655z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-printed {
    width: 23px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.332' height='19.741'%3E%3Cpath data-name='Icon ionic-md-book' d='M21.212.021l-9.546 1.795L2.125.021A1.978 1.978 0 00.005 2.13v13.712c0 1.161.9 1.828 2.12 2.109l9.546 1.789 9.546-1.795c1.223-.28 2.12-.948 2.12-2.109V2.13A1.978 1.978 0 0021.212.021zm0 15.816l-8.48 1.795V3.919l8.48-1.795zM10.6 17.632l-8.475-1.795V2.13l8.48 1.795z' fill='%23fff'/%3E%3C/svg%3E"); }
  .icon-ticket {
    width: 20px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 349.5 245.71'%3E%3Cpath d='M210.21 62.11h27.29v27.3h-27.3zm0 75.08h27.29v-27.3h-27.3zm0 47.78h27.29v-27.3h-27.3zm98.29-60.07a27.34 27.34 0 0027.3 27.31h13.7v52.55a41 41 0 01-41 40.95h-57.33a40.81 40.81 0 01-27.31-10.46 40.76 40.76 0 01-27.3 10.46H40.95A41 41 0 010 204.76v-52.55h13.65a27.31 27.31 0 000-54.61H0V40.95A41 41 0 0140.95 0h155.61a40.76 40.76 0 0127.3 10.46A40.81 40.81 0 01251.17 0h57.33a41 41 0 0141 40.95V97.6h-13.7a27.34 27.34 0 00-27.3 27.3zm-27.3 0a54.69 54.69 0 0140.95-52.87V40.95a13.67 13.67 0 00-13.65-13.64h-57.33a13.68 13.68 0 00-13.67 13.64h-27.3a13.67 13.67 0 00-13.64-13.64H40.95A13.67 13.67 0 0027.3 40.96v31.08a54.61 54.61 0 010 105.75v27a13.66 13.66 0 0013.65 13.65h155.61a13.66 13.66 0 0013.65-13.65h27.29a13.67 13.67 0 0013.66 13.65h57.34a13.67 13.67 0 0013.65-13.65v-27a54.71 54.71 0 01-40.95-52.88z' fill='%23fcfcfc'/%3E%3C/svg%3E"); }
  .icon-webinar {
    width: 23px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 424.27 246'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fcfcfc%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M492.65 401.59h-17.77a30.12 30.12 0 01-15.61-4.52l-.11-.07-73-46.08a22.09 22.09 0 01-10.37-18.68V268a22.11 22.11 0 0110.39-18.77l72.94-46a29.37 29.37 0 0115.88-4.64h17.68a22.28 22.28 0 0122.2 22v159.14a22.19 22.19 0 01-22.18 21.86zm-17.57-30h9.75v-143h-9.71l-69.32 43.75v55.49zm-72.92-46zm0-50.92zm90.37-46z' transform='translate(-90.61 -177)' id='Path_614' data-name='Path 614'/%3E%3Cpath class='cls-1' d='M309.43 423H149.07a58.78 58.78 0 01-58.46-58.3V235.36A58.67 58.67 0 01148.94 177h160.39a58.68 58.68 0 0158.37 58.33v129.23A58.49 58.49 0 01309.45 423zm-.15-216H149a28.58 28.58 0 00-28.38 28.43v129.21a28.67 28.67 0 0028.5 28.36H309.4a28.45 28.45 0 0028.3-28.45V235.36A28.58 28.58 0 00309.28 207z' transform='translate(-90.61 -177)' id='Path_615' data-name='Path 615'/%3E%3C/svg%3E"); }